.up-btn {
    background-color: #444; /*Цвет фона*/
    color: #fff; /*Цвет текста в кнопке*/
    padding: 20px; /*Внутренний отступ*/

    position: fixed; /*Фиксированное позиционирование*/
    bottom: 20px; /*Снизу*/
    right: 20px; /*Справа*/
   /* cursor: pointer; !*«Рука» при наведении*!

    opacity: 0; !*Прозрачность 0%*!
    visibility: hidden; !*Видимость на странице*!

    transition: .3s all; !*Плавность изменения 3 миллисекунды*!*/
}