.registerform {
    margin-top: 3%;
    background: rgba(0, 0, 0, 0.192);
    width: 70%;
    backdrop-filter: blur(5px);
    border-radius: 100px;
    margin-left: 15%;
    padding-left: 23%;
}
.submitbtn{
    align-content: center;
    padding-right: 15%;
}
.textajax{
    width: 150%;
    text-align: left;
}