{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    {% include "base1.html" %}
    <link href="{% static 'css/register.css' %}" rel="stylesheet">
</head>
<style>
    form{
        align-content: center;
    }
</style>
<body>
<h2 align="center">Форма регистрации</h2>
<div class="registerform">
    <form method="post" action="{% url 'register:user_register' %}" enctype="multipart/form-data">
        {% csrf_token %}

            <div class="container">
                 <div class="row">
                    <div class="col-md-6 p-3" style="color: black">
                        <table style="left: 10%">
                            {% for field in form %}
                            <tr>
                                <td>{{ field.label }}</td>
                                <td>{{ field }}</td>
                            </tr>
                            {% endfor %}
                            {% for field in formPhoto %}
                                <tr>
                                    <td>{{ field.label }}</td>
                                    <td>{{ field }}</td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td>
                                    <canvas id="myCanvas" width="150" height="60" style="border: 1px solid black; background: peachpuff "></canvas>
                                </td>
                                <td>
                                    <input type="text" name="captcha">
                                </td>
                            </tr>
                            <tr>



    {#                            <tr>#}
    {#                                <td colspan="1" align="left">#}
    {#                                    <button type="button" id="Infobtn" class="btn btn-info">Информация</button>#}
    {#                                    <span>#}
    {##}
    {#                                    </span>#}
    {#                                    <div class="col-md-6 p-3" style="">#}
    {##}
    {#                                    </div>#}
    {#                                </td>#}
    {#                            </tr>#}
                            </tr>
                        </table>
                    <div class="textajax">
                        <div class="col-sm">
                                <div class="col-md-10 p-3" style="color: peachpuff">
                                    <div class="col-md-10 p-3" style="color:firebrick" >
                                             <span class="ajax-field-valid" style="color: #000000;"></span>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="center" align="center">
                        <button type="submit" id="sybmitbtn">Сохранить</button>
                    </div>
                    </div>

                </div>
                <div class="row">
                     <span class="ajax-field-valid" style="color: #000000;"></span>
                </div>
                <!--<div class="row p-1">
                    <div class="col-md-6 p-3" style="">
                        <button id="showinfobutton" class="btn btn-info"> Нажми на кнопку!</button>
                    </div>
                    <div class="col-md-6 p-3" style="">

                    </div>
                </div>-->
            </div>

    </form>
</div>
<script type="text/javascript">
    var canvas = document.getElementById('myCanvas');
    var ctx = canvas.getContext("2d");
    ctx.font = "30px Comic Sans MS";
    ctx.fillStyle = "red";
    ctx.textAlign = "center";
    ctx.fillText("{{ captcha }}", canvas.width/2, canvas.height/1.5);
</script>
<script src="{% static 'js/ajaxForForm.js' %}"></script>
<script src="{% static 'js/ajaxAddRegInfo.js' %}"></script>
</body>
</html>