<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Авторизация Django</title>
</head>
<body>
    <h1 align="center">Авторизация</h1>
    <form method="post" class="card card-body justify-content-center">
        {% csrf_token %}

        {# Общие ошибки при авторизации пользователя #}
        <div class="form-error">{{ form.non_field_errors }}</div>
        <table>

            {% for f in form %}
            <tr>
                <td><label for="{{ f.id_for_label }}">{{ f.label }}</label></td>
                <td>
                    {{ f }}
                    {# Ошибки, связанные с заполнением полей #}
                    <div class="form-error">{{ f.errors }}</div>
                </td>
            </tr>

            {% endfor %}
        </table>
        <button type="submit" class="btn tbt-primary btn-lg btn-block">Войти</button>
    </form>
</body>
</html>